body {
    background-color: lightgray;
    font-family: monospace;
    color: black;
}

.center {
    text-align: center;
}

div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }

  .main-page-icon {
    width: 15vw;
    height: 15vw;
  }